<!DOCTYPE html>
            <html>
            <head>
                <style>
                    table, th, td {
                      border: 1px solid black;
                    }
                </style>
                <title>Users List</title>
            </head><body>
              <table>
                  <tr>
                    <td>Mail</td>
                    <td>Name</td>
                    <td>Surname</td>
                  </tr><tr><td>email</td><td>name</td><td>surname</td><tr><td>mail2</td><td>name2</td><td>surname2</td></table> 
                </body>
                </html>